{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Categoría RSS</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


    <a class="btn btn-default" href="{{ path('categoriarss_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-default" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
