{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Categorías <a href="{{ path('categoriarss_new') }}" class="btn btn-primary pull-right">Agregar Nueva Categoria</a></h1>
    </div>

    <table id="dataTable" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>            
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriaRSS in categoriaRSSes %}
            <tr>
                <td><a href="{{ path('categoriarss_show', { 'id': categoriaRSS.id }) }}">{{ categoriaRSS.id }}</a></td>
                <td>{{ categoriaRSS.nombre }}</td>
                <td>
                    <a href="{{ path('categoriarss_show', { 'id': categoriaRSS.id }) }}"class="btn btn-primary btn-sm"><i class="fa fa-list-ol fa-fw"></i></a>
                    <a href="{{ path('categoriarss_edit', { 'id': categoriaRSS.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil fa-fw"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
