{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Categoria</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoriaRSS.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categoriaRSS.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('categoriarss_index') }}">Ver Todas</a>
    <a class="btn btn-default" href="{{ path('categoriarss_edit', { 'id': categoriaRSS.id }) }}">Modificar</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-default" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}

{% endblock %}
