<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Information Retreival - Proyecto{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"> <!-- https://bootswatch.com/cosmo/ -->
		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.css') }}"> <!-- https://bootswatch.com/cosmo/ -->
		<link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/hover-min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('datatables/datatables.min.css') }}"/>
		<style type="text/css">
			@font-face {
				font-family: 'Open Sans';
				font-weight: 400;
				font-style: normal;
				src: url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.eot")}}');
				src: url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix")}}') format('embedded-opentype'),
				local('Open Sans'),
				local('Open-Sans-regular'),
				url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.woff2")}}') format('woff2'),
				url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.woff")}}') format('woff'),
				url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.ttf")}}') format('truetype'),
				url('{{ asset("fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans")}}') format('svg');
			}

			@font-face {
				font-family: 'Open Sans';
				font-weight: 400;
				font-style: italic;
				src: url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.eot")}}');
				src: url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix")}}') format('embedded-opentype'),
				local('Open Sans Italic'),
				local('Open-Sans-italic'),
				url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.woff2")}}') format('woff2'),
				url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.woff")}}') format('woff'),
				url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.ttf")}}') format('truetype'),
				url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans")}}') format('svg');
			}
			.page-header, h1 { margin-top: 10px !important; }
			html, body { 
				font-family: "Open Sans", sans-serif;
				font-size: .89em;
			}
				.table > thead > tr > th { text-align: center; background-color: #000; color: #fff; }
				.btn-form-after{ margin-bottom: 5px; }
			</style>
		</head>
		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<img class="navbar-brand" src="{{ asset('images/search.png') }}" class="img-responsive">
						<a class="navbar-brand" href="{{ path('app_inicio') }}">Information Retrieval</a>
					</div>

					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><i class="fa fa-user fa-fw"></i> Luis Pérez</a></li>
						</ul>
					</div>
				</div>
			</nav>
		<div class="container-fluid">
			{% block body %}{% endblock %}
		</div>

		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-sm-4 col-xs-12 hidden-xs">
						<h4 class="text-center">Universidad de Carabobo <small>Facultad de Ciencias y Tecnología</small></h4>
					</div>
					<div class="col-lg-4 col-sm-4 col-xs-6">
						<h4 class="text-center">Recuperación de Información <small>Marylin Guigni</small></h4>
					</div>
					<div class="col-lg-4 col-sm-4 col-xs-6">
						<h4 class="text-center">Luis Pérez <small>Marzo, 2016.</small></h4>
					</div>
				</div>
			</div>
		</footer>

		<script src="{{ asset('js/jquery2.1.4.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#dataTable').DataTable({
					"pageLength": 50
				});
			} );
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
