{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Noticias ({{ cantidad }}) <small>estos son los archivos que se encuentran localmente en el sistema, atraves de la ruta "...web/uploads/archivos/"</small></h1>
    </div>

    <table id="dataTable" class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Titulo</th>
                <th>Palabras</th>
                <th>Url Externa</th>
                <th>Archivo local</th>
                <th>Categoría</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
        {% for noticium in noticias %}
            <tr>
                <td><a href="{{ path('noticia_show', { 'id': noticium.id }) }}">{{ noticium.id }}</a></td>
                <td>{{ noticium.fecha }}</td>
                <td class="col-lg-4">{{ noticium.titulo|raw }} | <a href="{{ path('noticia_show', { 'id': noticium.id }) }}"><i class="fa fa-list-ol fa-fw"></i></a>
                    <a href="{{ path('noticia_edit', { 'id': noticium.id }) }}"><i class="fa fa-edit fa-fw"></i></a></td>
                <td>{{ noticium.palabras }}</td>
                <td><a href="{{ noticium.url}}" target="_new">Enlace Externo <i class="fa fa-link fa-fw"></i></a></td>
                {% if noticium.recurso.tipo == 'PDF' %}
                {% set tipo = 'pdf' %}
                {% else %}
                {% set tipo = 'txt' %}
                {% endif %}
                <td><a href="{{ asset('uploads/archivos/noticia '~noticium.id~'.'~tipo~'') }}" target="_new">Enlace local <i class="fa fa-link fa-fw"></i></a></td>
                <td>{{ noticium.categoria }}</td>
                <td>{{ noticium.recurso.tipo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
