{% extends 'base-admin.html.twig' %}

{% block body %}
	<div class="panel-header">
		<h1>Noticia <small>examine el contenido del archivo por su propia cuenta.</small></h1>
	</div>
	
	<div class="row">
		<div class="col-lg-8">
			<div class="embed-responsive embed-responsive-16by9">
				{% if noticium.recurso.tipo == 'PDF' %}
					<iframe class="embed-responsive-item" src="{{ asset('uploads/archivos/noticia '~noticium.id~'.pdf') }}"></iframe>
				{% else %}
					<iframe class="embed-responsive-item" src="{{ asset('uploads/archivos/noticia '~noticium.id~'.txt') }}"></iframe>
				{% endif %}
			</div>
		</div>

		<div class="col-lg-4">
			{# 	<div class="table-responsive"> #}
			<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th colspan="2">Detalles de la Noticia</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Recurso</th>
							<td>{{ noticium.recurso.nombre }}</td>
						</tr>
						<tr>
							<th>Título</th>
							<td>{{ noticium.titulo|raw }}</td>
						</tr>
						<tr>
							<th>ID</th>
							<td>{{ noticium.id }}</td>
						</tr>
						<tr>
							<th>Fecha</th>
							<td>{% if noticium.fecha %}{{ noticium.fecha }}{% endif %}</td>
						</tr>
						<tr>
							<th>URL</th>
							<td>{{ noticium.url }}</td>
						</tr>
						<tr>
							<th>Palabras</th>
							<td>{{ noticium.palabras }}</td>
						</tr>
						<tr>
							<th>Categoría</th>
							<td>{{ noticium.categoria }}</td>
						</tr>
						<tr>
							<th>Enlace Local</th>
							<td><a href="{{ asset('uploads/archivos/noticia '~noticium.id~'.txt') }}"> Enlace local<i class="fa fa-link fa-fw"></i></a></td>
						</tr>
					</tbody>
			</table>
			{# </div> #}

			<a href="{{ path('noticia_index') }}" class="btn btn-block btn-primary">Todas las Noticias</a>
			<a href="{{ path('noticia_edit', { 'id': noticium.id }) }}" class="btn btn-block btn-warning btn-form-after">Modificar</a>
			{{ form_start(delete_form) }}
			<input type="submit" value="Eliminar" class="btn btn-block btn-danger">
			{{ form_end(delete_form) }}
		</div>
	</div>
	
{% endblock %}
