{% extends 'base-buscador.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('recursorss_index') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/database.png') }}" alt=""> Recursos</a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('categoriarss_index') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/team.png') }}" alt=""> Categorías</a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('noticia_index') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/newspaper.png') }}" alt=""> Noticias</a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('tcf_index') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/sound-frecuency.png') }}" alt=""> Frecuencias</a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('tdf_index') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/scale.png') }}" alt=""> Pesos</a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <a href="{{ path('app_buscador') }}" class="btn btn-default btn-lg btn-block btn-img-center hvr-bob">
               <img class="img-responsive" width="100px" src="{{ asset('images/magnifying-glass.png') }}" alt=""> Buscador</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
