{% extends 'base-buscador.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
    	<input id="accion" type="hidden" value="{{ path('app_buscador') }}">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search fa-lg"></i></span>
                <input type="text" class="form-control" style="text-align: center;" placeholder="busca carajo" aria-describedby="sizing-addon1" id="busqueda">
            </div>
            <p class="text-center text-danger negritas hidden" id="enter">Presione 'Enter' para buscar</p>
        </div>
    </div>
    <hr>
    <div class="row">
    	<div id="resultados" class="col-lg-12">
    		<p class="text-info">Resultados: "<b>{{ cadena }}</b>"</p>
    	</div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		
		var bagofstrings = 
		[
			'haz roto el búscador :(',
			'mejor ponte a vender avon',
			'aprendiedo dothraki',
			'revisando los documentos de wikileaks',
			'evitando el nacimiento de maduro o chávez',
			'pidiendole a bran stark que no me deje meter la electiva',
			'reviviendo a alan turing para que me ayude con el k-means',
			'no vayas a ver ver crossroads al cine',
		];

		jQuery(document).ready(function() {
			// Al abrir la págoina se coloca el cursor sobre el input
			$('#busqueda').focus();

			//Aliatorizar las fraces del placeholder
			window.setInterval(function(){
				random = Math.floor(Math.random() * 7);
				console.log(random)
				$('#busqueda').attr('placeholder',bagofstrings[random]);
			}, 5000);

			$('#busqueda').on('keyup', function(){
				$('#enter').removeClass('hidden');
			});

			$("#busqueda").keyup(function(event){
				if(event.keyCode == 13 && $('#busqueda').val() != ' '){
					
					consulta = $('#busqueda').val()
					consulta = consulta.replace( / {2,}/g, ' ' )

					$('#enter').addClass('hidden');
				    $.ajax({
						url: $('#accion').val(),
						type: "POST",
						data: {
							cadena: consulta,
						},
						success: function(data, textStatus, xhr){
							console.log(data)
							$('#resultados').replaceWith($(data).find('#resultados'));
							$('#resultados').fadeIn('slow');
						},
					});
				}
			});
		});
	</script>
{% endblock %}