{% extends 'base-buscador.html.twig' %}

{% block body %}
	<div class="jumbotron">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-4 text-center">
                <img src="{{ asset('images/search.png') }}" class="img-responsive" height="200px">
            </div>
            <div class="col-lg-8 col-sm-10 col-xs-8">
                <h1 class="text-blanco">Recuperación de Información</h1>
                <p>Es el área de la ciencia y la tecnología que trata de la adquisición, representación, almacenamiento, organización y acceso a elementos de información.</p>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a href="{{ path('app_administrador') }}" class="btn btn-default btn-lg btn-block btn-img-center">
               <img class="img-responsive" width="100px" src="{{ asset('images/tools.png') }}" alt=""> Administre el Motor</a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a href="{{ path('app_buscador') }}" class="btn btn-default btn-lg btn-block btn-img-center">
               <img class="img-responsive" width="100px" src="{{ asset('images/searcher.png') }}" alt=""> Ir al búscador</a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a href="#" class="btn btn-default btn-lg btn-block btn-img-center">
               <img class="img-responsive" width="100px" src="{{ asset('images/information-point.png') }}" alt=""> Aprender más ...</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .jumbotron{ background-color: rgba(0, 0, 0, 0.25) !important; }
</style>
{% endblock %}
