{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Recurso</h1>
    </div>

    <div class="col-lg-9">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-primary col-lg-offset-2" value="Guardar Cambios" />
        {{ form_end(edit_form) }}
    </div>
    <div class="col-lg-3">
        <a href="{{ path('recursorss_index') }}" class="btn btn-block btn-success btn-form-after">Regresar a Recursos</a>
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-block btn-danger" value="Eliminar Recurso">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
