{% extends 'base-admin.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .loader {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 0, 0, 0, .1)
            url("{{ asset('images/box.gif') }}") 50% 50% no-repeat;
        }
        body.loading { overflow: hidden; }
        body.loading .loader { display: block; }
        .item{
            max-height: auto;
            padding: 5px;
            border-bottom: 5px solid #FF5722;
            background-color: #FFD695;
            margin-bottom: 15px;
            border-radius: 4px;
        }
        .item-pdf{
            border-bottom: 5px solid #FF9800;
            background-color: rgba(255,244,149,1);
        }
        .item > h3 { margin-top: 0px; }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function cargando(){
            $('#loader').modal('show');
        };
    </script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Recursos <a class="btn btn-primary pull-right" href="{{ path('recursorss_new') }}">Nuevo Recurso</a> <small>Agregue enlaces RSS, lo cuales proveerán al sistema diariamente de documentos para ser procesados.</small></h1>
        
    </div>

    {% set i = 0 %}
    {% set j = 0 %}
    {% for recursoRSS in recursoRSSes %}
        {% if j == 4*i %}
            <div class="row">
            {% set i = i + 1 %}
        {% endif %}
        <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="item {% if recursoRSS.tipo == 'PDF' %}item-pdf{% endif %}">
                <a href="{{ recursoRSS.url }}" target="_new" class="btn btn-xs btn-warning pull-right"><i class="fa fa-link fa-fw"></i></a>

                <a onclick="cargando();" href="{{ path('recursorss_show', { 'id': recursoRSS.id }) }}" class="btn btn-success btn-xs pull-right"><i class="fa fa-list-ol fa-fw"></i></a>
                
                <a href="{{ path('recursorss_edit', { 'id': recursoRSS.id }) }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></a>

                <h3>
                    {{ recursoRSS.nombre }}
                </h3>
                <p><i>{{ recursoRSS.descripcion }}</i></p>
                <p><b>Categoría:</b> {{ recursoRSS.categoria }}<br><b>Tipo:</b> {{ recursoRSS.tipo }}</p>
            </div>
        </div>
        {% if j == (4*i)-1 %}
            </div>
        {% endif %}
        {% set j = j + 1 %}
    {% endfor %}
    </div>
    <div class="loader" id="loader"></div>
{% endblock %}
