{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Nuevo Recurso RSS</h1>

    <div class="col-lg-9">
        {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-default col-lg-offset-2" value="Agregar Nuevo" />
        {{ form_end(form) }}
    </div>
    
    <div class="col-lg-3">
        <a href="{{ path('recursorss_index') }}" class="btn btn-primary">Volver a todos</a>
    </div>
{% endblock %}
