{% extends 'base-admin.html.twig' %}
{% block stylesheets %}
	<style type="text/css">
		.loader {
			display:    none;
			position:   fixed;
			z-index:    1000;
			top:        0;
			left:       0;
			height:     100%;
			width:      100%;
			background: rgba( 0, 0, 0, .1)
			url("{{ asset('images/box.gif') }}") 50% 50% no-repeat;
		}
		body.loading { overflow: hidden; }
		body.loading .loader { display: block; }
	</style>
{% endblock %}
{% block body %}
	<div class="page-header">
		<h2>Recurso <small><a href="{{ recursoRSS.url }}" target="_new">{{ recursoRSS.nombre }}<i class="fa fa-link fa-fw"></i></a></small></h2>
	</div>

	<div class="col-lg-9">
		{% if xml is defined %}
			<table id="dataTable" class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">#</th>
						<th>Contenidos del Documento</th>
						<th>Fecha Publicación</th>
						<th>Categoría</th>
						<th>Descargar</th>
					</tr>
				</thead>
				<tbody id="filas_tabla">
				{% if xml.channel is defined %}
				{% for titular in xml.channel.item %}
					<tr>
						<td class="text-center">{{ loop.index }}</td>
						<td><a href="{{ titular.link }}" target="_new">{{ titular.title }} <i class="fa fa-link fa-fw"></i></a></td>
						<td>{{ titular.pubDate }}</td>
						<td>{% if titular.category is defined %}
								{% set categoria = titular.category %}
								{{ titular.category }}
							{% else %}
								{% set categoria = 'Sin Categoría' %}
									{{ categoria }}
							{% endif %}
						</td>
						<td class="text-center"><a href="#" onclick='Guardar("{{ recursoRSS.cleantext(titular.title) }}", "{{ titular.pubDate }}", "{{ titular.link }}", "{{ categoria }}", "{{ path('noticia_guardar') }}", "{{ recursoRSS.tipo }}", "{{ recursoRSS.id }}"); event.preventDefault();' class="fileDownload"><i class="fa fa-download fa-2x"></i></a>
							<a href="#" class="hidden" data-titulo="{{ recursoRSS.cleantext(titular.title) }}" data-fecha="{{ titular.pubDate }}" data-url="{{ titular.link }}" data-categoria="{{ categoria }}" data-action="{{ path('noticia_guardar') }}" data-tipo="{{ recursoRSS.tipo }}" data-id="{{ recursoRSS.id }}"></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
				{% else %}
				<tr>
					<td colspan="5" class="text-center"> <i class="fa fa-exclamation fa-fw"></i> Ha ocurrido un error al cargar el recurso, por favor trate de recargar la página.</td>
				</tr>
				{% endif %}
			</table>
		{% else %}
			<p>El recurso que ha almacenado es un documento en formato portable, PDF</p>
			<p><a href="{{ recursoRSS.url}}" target="_new">Enlace al documento. <i class="fa fa-link fa-fw"></i></a></p>
			<button onclick='Guardar("{{ recursoRSS.nombre|raw }}", "00-00-0000 00:00:00", "{{ recursoRSS.url }}", "{{ recursoRSS.categoria }}", "{{ path('noticia_guardar') }}", "{{ recursoRSS.tipo }}", "{{ recursoRSS.id }}"); event.preventDefault();' class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Guardar el documento</button>
		{% endif %}
	</div>

	<div class="col-lg-3">
		{% if xml is defined and xml.channel is defined %}<a href="#" onclick="guardar_todas();" class="btn btn-info btn-block">Almacenar todos los Documentos</a>{% endif %}
		<a href="{{ path('recursorss_index') }}" class="btn btn-success btn-block">Regresar a Recursos RSS</a>
		<a href="{{ path('recursorss_edit', { 'id': recursoRSS.id }) }}" class="btn btn-warning btn-block btn-form-after">Modificar Recurso</a>
		{{ form_start(delete_form) }}
			<input type="submit" class="btn btn-danger btn-block" value="Eliminar Recurso">
		{{ form_end(delete_form) }}
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">Espere!</h4>
				</div>
				<div class="modal-body">
					<p id="mensajeModal"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalTodas" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="todasTitle">Espere!</h4>
				</div>
				<table class="table table-bordered" style="margin-bottom: 0px;">
					<tr class="text-center">
						<th>Guardadas</th>
						<th>Repetidas</th>
						<th>Errores</th>
					</tr>
					<tr class="text-center">
						<td class="text-center"><h1 id="todasGuardadas">0 de 0</h1></td>
						<td class="text-center"><h1 id="todasRepetidas">0</h1></td>
						<td class="text-center"><h1 id="todasErrores">0</h1></td>
					</tr>
				</table>
				<div class="modal-footer">
					<button type="button" id="todasBoton" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

<div class="loader" id="loader"></div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		function guardar_todas()
		{
			var guardadas = 0;
			var repetidas = 0;
			var errores = 0;

			$('#todasTitle').text('Guardando las noticias ...');
			$('#todasGuardadas').text(guardadas);
			$('#todasRepetidas').text(repetidas);
			$('#todasErrores').text(errores);

			$('#modalTodas').modal({
				show: true,
				backdrop: 'static',
				keyboard: false
			});
			
			$filas = $('#filas_tabla').children();
			$noticias = $filas.find('.hidden');
			var total = $noticias.length;
			$('#todasGuardadas').text(guardadas+' de '+total);
			$('#todasRepetidas').text(repetidas+' de '+total);
			$('#todasErrores').text(''.errores);

			for (var i = $noticias.length - 1; i >= 0; i--) {
				$titulo = $($noticias[i]).data('titulo');
				$fecha = $($noticias[i]).data('fecha');
				$url = $($noticias[i]).data('url');
				$categoria = $($noticias[i]).data('categoria');
				$action = $($noticias[i]).data('action');
				$tipo = $($noticias[i]).data('tipo');
				$id = $($noticias[i]).data('id');

				$.ajax({
					url: $action,
					type: "POST",
					//dataType: 'json',
					data: { 
						titulo: $titulo,
						fecha: $fecha,
						enlace: $url,
						categoria: $categoria,
						tipo: $tipo,
						recurso: $id },
						success: function(data){
							if (data.code == '200') {
								guardadas++;
								$('#todasGuardadas').text(guardadas+' de '+total);
							}
							if (data.code == '500') {
								repetidas++;
								$('#todasRepetidas').text(repetidas+' de '+total);
							}
						},
						error: function(data){
							if (data.code == '500') {
								errores = errores++;
								$('#todasErrores').text(''.errores);
							}
						}
				});
			}

			if ($noticias.length == guardadas) {
				$('#todasBoton').removeClass('btn-danger');
				$('#todasBoton').addClass('btn-success');
				$('#todasBoton').addClass('btn-block');
			}
		}

		function Guardar(titulo, fecha, enlace, categoria, action, tipo, recurso)
		{
			$('#loader').modal('show');
			$.ajax({
				url: action,
				type: "POST",
				//dataType: 'json',
				data: { 
					titulo: titulo,
					fecha: fecha,
					enlace: enlace,
					categoria: categoria,
					tipo: tipo,
					recurso: recurso
				},
				success: function(data, textStatus, xhr){
					//iniciar modal bueno
					$('#loader').modal('hide');
					$('#myModal').modal('show');
					if (data.code == 500) {
						$('#modalTitle').text('Espere!!!');
						$('#mensajeModal').text(data.message);
					}else{
						$('#modalTitle').text('Enhorabuena!!!');	
						$('#mensajeModal').text(data.message);
					}

				},
				error: function(data, xhr, textStatus){
					$('#loader').modal('hide');
					$('#modalTitle').text('Oh no, Disculpe!!!');
					$('#mensajeModal').text('Ha ocurrido un error en el servidor. Intente de nuevo más tarde.');
					$('#myModal').modal('show');
				}
			});
		}
	</script>
{% endblock %}