/*
    Modificación algunos elementos para mejorar el aspecto general de la página
*/
table > thead > tr > th { text-transform: uppercase; }
.text-blanco { color: #ffffff !important; }
.btn-img-center {
  text-align: -webkit-center;
  margin-bottom: 20px;
}
.negritas { font-weight: bold; }