/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .footer{ height: 62px; }
  body { margin-bottom: 62px; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer{ height: 62px; }
  body { margin-bottom: 62px; }
}