{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>TCF <small>Cantidad de documentos en los que aparece el término.</small></h1>

    <table id="dataTable" class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Termino</th>
                <th>Frecuencia</th>
            </tr>
        </thead>
        <tbody>
        {% for tCF in tCFs %}
            <tr>
                <td><a href="{{ path('tcf_show', { 'id': tCF.id }) }}">{{ tCF.id }}</a></td>
                <td>{{ tCF.termino }}</td>
                <td>{{ tCF.frecuencia }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tcf_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
