{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>TCF</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tCF.id }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{{ tCF.termino }}</td>
            </tr>
            <tr>
                <th>Frecuencia</th>
                <td>{{ tCF.frecuencia }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tcf_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tcf_edit', { 'id': tCF.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
