{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Pesos de los Términos</h1>

    <table id="dataTable" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Documento</th>
                <th>Termino</th>
                <th>Peso</th>
                {# <th>Actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for vector in vectors %}
            <tr>
                <td><a href="{{ path('vector_show', { 'id': vector.id }) }}">{{ vector.id }}</a></td>
                <td>{{ vector.documento.titulo }} <a href="{{ path('noticia_show',{'id': vector.documento.id }) }}"><i class="fa fa-link fa-fw"></i></a></td>
                <td>{{ vector.terminos.termino }}</td>
                <td>{{ vector.peso }}</td>
                {# <td>
                    <ul>
                        <li>
                            <a href="{{ path('vector_show', { 'id': vector.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vector_edit', { 'id': vector.id }) }}">edit</a>
                        </li>
                    </ul>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <ul>
        <li>
            <a href="{{ path('vector_new') }}">Create a new entry</a>
        </li>
    </ul> #}
{% endblock %}
