{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Vector</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vector.id }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ vector.documento }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{{ vector.termino }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ vector.peso }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vector_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vector_edit', { 'id': vector.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
