{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>TDF <small>Frecuencia de un termino i en un documento j</small></h1>

    <table id="dataTable" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Termino</th>
                <th>Documento</th>
                <th>Frecuencia</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for tDF in tDFs %}
            <tr>
                <td><!-- <a href="{{ path('tdf_show', { 'id': tDF.id }) }}"></a> -->{{ tDF.id }}</td>
                <td>{{ tDF.termino }}</td>
                <td>{{ tDF.documento.titulo }}</td>
                <td>{{ tDF.frecuencia }}</td>
                <!--<td>
                     <ul>
                        <li>
                            <a href="{{ path('tdf_show', { 'id': tDF.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tdf_edit', { 'id': tDF.id }) }}">edit</a>
                        </li>
                    </ul> 
                </td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tdf_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
