{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>TDF</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tDF.id }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{{ tDF.termino }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ tDF.documento }}</td>
            </tr>
            <tr>
                <th>Frecuencia</th>
                <td>{{ tDF.frecuencia }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tdf_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tdf_edit', { 'id': tDF.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
